on init
    chown system system /sys/class/meizu/tp/gesture_control
    chmod 0660 /sys/class/meizu/tp/gesture_control

    mkdir /dev/lineage.touch@1.0
    chown system system /dev/lineage.touch@1.0
    chmod 0755 /dev/lineage.touch@1.0

service touch-hal-1-0-meizu_sm8150 /system/bin/hw/lineage.touch@1.0-service.meizu_sm8150
    class hal
    user system
    group system
